# Packeges installation

In [1]:
!pip install ipython-sql psycopg2 postgresDB

Requirement already satisfied: ipython-sql in c:\users\maksy\appdata\local\programs\python\python312\lib\site-packages (0.5.0)
Requirement already satisfied: psycopg2 in c:\users\maksy\appdata\local\programs\python\python312\lib\site-packages (2.9.9)

ERROR: Could not find a version that satisfies the requirement postgresDB (from versions: none)
ERROR: No matching distribution found for postgresDB

# Loading Data

In [9]:
import os
from dotenv import load_dotenv

load_dotenv()

host = "localhost"
database = "educational_institutions"
user = os.getenv('SQL_USER')
password = os.getenv('SQL_PASSWORD')

connection_string = f"postgresql://{user}:{password}@{host}/{database}"

In [10]:
%load_ext sql
%sql $connection_string

# Create table

In [38]:
# All columns
with open("data/rspo_2024_04_23.csv", "r", encoding="utf-8-sig") as f:
    columns = f.readline().split(";")

# lowering letter cases
columns = ["_".join(col.lower().split()) for col in columns]

# removing polish diacritical letters
for word, initial in {'ą':'a', 'ę':'e', 'ć':'c', 'ż':'z', 'ź':'z', 'ó':'o', 'ł':'l', 'ś':'s', 'ń':'n'}.items():
    columns = [col.replace(word, initial) for col in columns]

# removing dashes
columns = [col.replace('-', '_') for col in columns]

for col in columns:
    print(col)

numer_rspo
regon
nip
typ
nazwa
kod_terytorialny_wojewodztwo
kod_terytorialny_powiat
kod_terytorialny_gmina
kod_terytorialny_miejscowosc
kod_terytorialny_ulica
wojewodztwo
powiat
gmina
miejscowosc
rodzaj_miejscowosci
ulica
numer_budynku
numer_lokalu
kod_pocztowy
poczta
telefon
faks
e_mail
strona_www
publicznosc_status
kategoria_uczniow
specyfika_placowki
imie_i_nazwisko_dyrektora
data_zalozenia
data_rozpoczecia_dzialalnosci
data_likwidacji
typ_organu_prowadzacego
nazwa_organu_prowadzacego
regon_organu_prowadzacego
nip_organu_prowadzacego
wojewodztwo_organu_prowadzacego
powiat_organu_prowadzacego
gmina_organu_prowadzacego
miejsce_w_strukturze
rspo_podmiotu_nadrzednego
typ_podmiotu_nadrzednego
nazwa_podmiotu_nadrzednego
liczba_uczniow
tereny_sportowe
jezyki_nauczane
czy_zatrudnia_logopede
czy_zatrudnia_psychologa
czy_zatrudnia_pedagoga
oddzialy_podstawowe_wg_specyfiki
oddzialy_dodatkowe

In [2]:
import pandas as pd

df = pd.read_csv("data/rspo_2024_04_23.csv", sep=";", engine="python", on_bad_lines="skip")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55683 entries, 0 to 55682
Data columns (total 50 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Numer RSPO                        55683 non-null  int64
 1   REGON                             55683 non-null  object
 2   NIP                               55683 non-null  object
 3   Typ                               55683 non-null  object
 4   Nazwa                             55683 non-null  object
 5   Kod terytorialny województwo      55683 non-null  object
 6   Kod terytorialny powiat           55683 non-null  object
 7   Kod terytorialny gmina            55683 non-null  object
 8   Kod terytorialny miejscowość      55683 non-null  object
 9   Kod terytorialny ulica            55683 non-null  object
 10  Województwo                       55683 non-null  object
 11  Powiat                            55683 non-null  object
 12  Gmina                             55683 non-null  object
 13  Miejscowość                       55683 non-null  object
 14  Rodzaj miejscowości               55683 non-null  object
 15  Ulica                             46324 non-null  object
 16  Numer budynku                     55683 non-null  object
 17  Numer lokalu                      55639 non-null  object
 18  Kod pocztowy                      55683 non-null  object
 19  Poczta                            55683 non-null  object
 20  Telefon                           55681 non-null  object
 21  Faks                              55683 non-null  object
 22  E-mail                            53881 non-null  object
 23  Strona www                        40203 non-null  object
 24  Publiczność status                55683 non-null  object
 25  Kategoria uczniów                 55683 non-null  object
 26  Specyfika placówki                55683 non-null  object
 27  Imię i nazwisko dyrektora         55675 non-null  object
 28  Data założenia                    55674 non-null  object
 29  Data rozpoczęcia działalności     55676 non-null  object
 30  Data likwidacji                   0 non-null      float64
 31  Typ organu prowadzącego           55677 non-null  object
 32  Nazwa organu prowadzącego         55677 non-null  object
 33  REGON organu prowadzącego         55677 non-null  object
 34  NIP organu prowadzącego           55677 non-null  object
 35  Województwo organu prowadzącego   55677 non-null  object
 36  Powiat organu prowadzącego        55677 non-null  object
 37  Gmina organu prowadzącego         55677 non-null  object
 38  Miejsce w strukturze              55683 non-null  object
 39  RSPO podmiotu nadrzędnego         16262 non-null  float64
 40  Typ podmiotu nadrzędnego          16262 non-null  object
 41  Nazwa podmiotu nadrzędnego        16262 non-null  object
 42  Liczba uczniów                    55683 non-null  int64
 43  Tereny sportowe                   11965 non-null  object
 44  Języki nauczane                   37127 non-null  object
 45  Czy zatrudnia logopedę            55683 non-null  object
 46  Czy zatrudnia psychologa          55683 non-null  object
 47  Czy zatrudnia pedagoga            55683 non-null  object
 48  Oddziały podstawowe wg specyfiki  38812 non-null  object
 49  Oddziały dodatkowe                8058 non-null   object
dtypes: float64(2), int64(2), object(46)
memory usage: 21.2+ MB

In [40]:
df.columns = columns
df.to_csv("data/rspo_2024_04_23_converted_column_names.csv", index=False)

### Table creating

In [15]:
%%sql

CREATE TABLE rspo(
    numer_rspo INTEGER PRIMARY KEY,
    regon TEXT,
    nip TEXT,
    typ TEXT,
    nazwa TEXT,
    kod_terytorialny_wojewodztwo TEXT,
    kod_terytorialny_powiat TEXT,
    kod_terytorialny_gmina TEXT,
    kod_terytorialny_miejscowosc TEXT,
    kod_terytorialny_ulica TEXT,
    wojewodztwo TEXT,
    powiat TEXT,
    gmina TEXT,
    miejscowosc TEXT,
    rodzaj_miejscowosci TEXT,
    ulica TEXT,
    numer_budynku TEXT,
    numer_lokalu TEXT,
    kod_pocztowy TEXT,
    poczta TEXT,
    telefon TEXT,
    faks TEXT,
    e_mail TEXT,
    strona_www TEXT,
    publicznosc_status TEXT,
    kategoria_uczniow TEXT,
    specyfika_placowki TEXT,
    imie_i_nazwisko_dyrektora TEXT,
    data_zalozenia DATE,
    data_rozpoczecia_dzialalnosci DATE,
    data_likwidacji DATE,
    typ_organu_prowadzacego TEXT,
    nazwa_organu_prowadzacego TEXT,
    regon_organu_prowadzacego TEXT,
    nip_organu_prowadzacego TEXT,
    wojewodztwo_organu_prowadzacego TEXT,
    powiat_organu_prowadzacego TEXT,
    gmina_organu_prowadzacego TEXT,
    miejsce_w_strukturze TEXT,
    rspo_podmiotu_nadrzednego DECIMAL,
    typ_podmiotu_nadrzednego TEXT,
    nazwa_podmiotu_nadrzednego TEXT,
    liczba_uczniow INTEGER,
    tereny_sportowe TEXT,
    jezyki_nauczane TEXT,
    czy_zatrudnia_logopede TEXT,
    czy_zatrudnia_psychologa TEXT,
    czy_zatrudnia_pedagoga TEXT,
    oddzialy_podstawowe_wg_specyfiki TEXT,
    oddzialy_dodatkowe TEXT
);

 * postgresql://postgres:***@localhost/educational_institutions
Done.

[]

### Values inserting

In [43]:
fileDirectory = "C:\\path\\to\\csv\\file" # folder need to me accesable for all users
fileName = "rspo_2024_04_23_converted_column_names.csv"
pathToFile = f"{fileDirectory}\\{fileName}"

columnsStr = ", ".join(columns)

In [45]:
sql_values_insert = f"""
COPY rspo({columnsStr})
FROM '{pathToFile}'
DELIMITER ','
CSV HEADER;
"""

%sql $sql_values_insert

 * postgresql://postgres:***@localhost/educational_institutions
55683 rows affected.

[]

# EDA

In [48]:
%%sql

SELECT *
FROM rspo
LIMIT 1;

 * postgresql://postgres:***@localhost/educational_institutions
1 rows affected.

[(122580, '="101751337"', '=""', 'Placówka Kształcenia Ustawicznego - bez szkół', ',,GROMANS" JAKUB GROMAN', '="10"', '="1008"', '="1008021"', '="0959079"', '="15141"', 'ŁÓDZKIE', 'pabianicki', 'Pabianice', 'Pabianice', 'miasto', 'ul. Orla', '="6/8"', '=""', '="95-200"', 'Pabianice', '="604616936"', '=""', 'gromans@op.pl', None, 'niepubliczna', 'Bez kategorii', 'brak specyfiki', ' ', datetime.date(2013, 7, 1), datetime.date(2013, 7, 1), None, 'Osoba fizyczna', 'Groman Jakub Andrzej', '=""', '=""', 'ŁÓDZKIE', 'pabianicki', 'Pabianice', 'samodzielna', None, None, None, 0, None, None, 'Nie', 'Nie', 'Nie', None, None)]