# Packeges installation

In [1]:
!pip install ipython-sql psycopg2 postgresDB

Requirement already satisfied: ipython-sql in c:\users\maksy\appdata\local\programs\python\python312\lib\site-packages (0.5.0)
Requirement already satisfied: psycopg2 in c:\users\maksy\appdata\local\programs\python\python312\lib\site-packages (2.9.9)

ERROR: Could not find a version that satisfies the requirement postgresDB (from versions: none)
ERROR: No matching distribution found for postgresDB

# Importing libraries

In [5]:
import os
from dotenv import load_dotenv
import pandas as pd
import psycopg2

import warnings
warnings.filterwarnings('ignore')

# Loading Database

In [6]:
load_dotenv()

host = "localhost"
database = "educational_institutions"
user = os.getenv('SQL_USER')
password = os.getenv('SQL_PASSWORD')

connection_string = f"postgresql://{user}:{password}@{host}/{database}"

In [7]:
%load_ext sql
%sql $connection_string

# RSPO (Rejestr Szkół i Placówek Oświatowych)

### Creating a table

In [34]:
with open("data/rspo/rspo_2024_04_23_clean.csv", "r", encoding="utf-8-sig") as f:
    columns = f.readline().rstrip("\n").split(";")

In [36]:
dataTypesForCols = {
    "numer_rspo": "INTEGER PRIMARY KEY",
    "data_zalozenia": "DATE",
    "data_rozpoczecia_dzialalnosci": "DATE",
    "rspo_podmiotu_nadrzednego": "DECIMAL",
    "liczba_uczniow": "INTEGER",
    "other": "TEXT"
}

In [37]:
sql_query = "CREATE TABLE rspo("

for i, col in enumerate(columns):
    if col in dataTypesForCols.keys():
        sql_query += f'{col} {dataTypesForCols[col]}'
    else:
        sql_query += f'{col} {dataTypesForCols["other"]}'

    if i+1 < len(columns):
        sql_query += ", "

sql_query += ");"

In [39]:
%sql $sql_query

 * postgresql://postgres:***@localhost/educational_institutions
Done.

[]

### Inserting values into table

In [40]:
fileDirectory = os.getenv('PATH_TO_FILES')
fileName = "rspo_2024_04_23_clean.csv"
pathToFile = f"{fileDirectory}\\{fileName}"
columnsStr = ", ".join(columns)

In [41]:
sql_values_insert = f"""
COPY rspo({columnsStr})
FROM '{pathToFile}'
DELIMITER ';'
CSV HEADER;
"""

%sql $sql_values_insert

 * postgresql://postgres:***@localhost/educational_institutions
55683 rows affected.

[]

# Matura Exam

### Creating a table

In [14]:
with open("data/matura/matura_szkoly.csv", "r", encoding="utf-8-sig") as f:
    columns = f.readline().rstrip("\n").split(";")

In [15]:
otherCases = {
    "row_id": "INTEGER PRIMARY KEY",
    "rspo_szkoly": "INTEGER",
    "id_oke": "INTEGER",
    "wojewodztwo_nazwa": "TEXT",
    "powiat_nazwa": "TEXT",
    "gmina_nazwa": "TEXT",
    "typ_gminy": "TEXT",
    "kod_teryt_gminy": "TEXT",
    "nazwa_szkoly": "TEXT",
    "miejscowosc": "TEXT",
    "ulica_nr": "TEXT",
    "typ_placowki": "TEXT",
    "rodzaj_placowki": "TEXT",
    "czy_publiczna": "TEXT",
    "otrzymali_swiadectwo_dojrzalosci_liczba": "INTEGER",
    "liczba_ktorzy_przystapili_do_wszystkich_egzaminow_wymaganych": "INTEGER",
    "rok": "INTEGER",
    "formula": "TEXT",
    "identyfikator_szkoly": "TEXT"
}

forIntegers = [
    "liczba_zdajacych",
    "liczba_laureatow"
]

forFloats = [
    "zdawalnosc",
    "sredni_wynik",
    "odchylenie_standardowe",
    "mediana",
    "modalna"
]

In [16]:
sql_query = "CREATE TABLE matura("

for i, col in enumerate(columns):
    if col in otherCases.keys():
        sql_query += f"{col} {otherCases[col]}"
    else:
        for end in forIntegers:
            if end in col:
                sql_query += f"{col} INTEGER"
                break
        
        for end in forFloats:
            if end in col:
                sql_query += f"{col} DECIMAL"
                break

    if i+1 < len(columns):
        sql_query += ", "

sql_query += ");"

In [17]:
%sql $sql_query

 * postgresql://postgres:***@localhost/educational_institutions
Done.

[]

### Inserting values into table

In [18]:
fileDirectory = os.getenv('PATH_TO_FILES')
fileName = "matura_szkoly.csv"
pathToFile = f"{fileDirectory}\\{fileName}"
columnsStr = ", ".join(columns)

In [19]:
sql_values_insert = f"""
COPY matura({columnsStr})
FROM '{pathToFile}'
DELIMITER ';'
CSV HEADER;
"""

%sql $sql_values_insert

 * postgresql://postgres:***@localhost/educational_institutions
21410 rows affected.

[]

### Removing -1 values

-1 values has been used as a placeholder for NULL values. Now this stage is dedicated for replacing this placeholder to real NULL values.

In [20]:
conn = psycopg2.connect(
    dbname=database,
    user=user,
    password=password,
    host=host,
    port="5432"
)
cur = conn.cursor()

columnsForReplacing = []
for col in columns:
    if ("liczba_zdajacych" in col) or \
       ("liczba_laureatow" in col) or \
       (col == "otrzymali_swiadectwo_dojrzalosci_liczba") or \
       (col == "liczba_ktorzy_przystapili_do_wszystkich_egzaminow_wymaganych"):
        columnsForReplacing.append(col)

for col in columnsForReplacing:
    sql_query = f"UPDATE matura SET {col} = NULL WHERE {col} = -1;"
    cur.execute(sql_query)
    conn.commit()

cur.close()
conn.close()

# Eight Grade Exam

### Creating a table

In [1]:
with open("data/eighth_grade_exam/eighth_grade_exam_szkoly.csv", "r", encoding="utf-8-sig") as f:
    columns = f.readline().rstrip("\n").split(";")

In [2]:
otherCases = {
    "row_id": "INTEGER PRIMARY KEY",
    "id_oke": "INTEGER",
    "wojewodztwo_nazwa": "TEXT",
    "powiat_nazwa": "TEXT",
    "gmina_nazwa": "TEXT",
    "typ_gminy": "TEXT",
    "kod_teryt_gminy": "TEXT",
    "rspo": "INTEGER",
    "rodzaj_placowki": "TEXT",
    "identyfikator_szkoly": "TEXT",
    "czy_publiczna": "TEXT",
    "nazwa_szkoly": "TEXT",
    "miejscowosc": "TEXT",
    "ulica_nr": "TEXT",
    "rok": "INTEGER"
}

forIntegers = [
    "liczba_zdajacych"
]

forFloats = [
    "wynik_sredni",
    "odchylenie_standardowe",
    "mediana",
    "modalna"
]

In [3]:
sql_query = "CREATE TABLE eighth_grade_exam("

for i, col in enumerate(columns):
    if col in otherCases.keys():
        sql_query += f"{col} {otherCases[col]}"
    else:
        for end in forIntegers:
            if end in col:
                sql_query += f"{col} INTEGER"
                break
        
        for end in forFloats:
            if end in col:
                sql_query += f"{col} DECIMAL"
                break

    if i+1 < len(columns):
        sql_query += ", "

sql_query += ");"

In [8]:
%sql $sql_query

 * postgresql://postgres:***@localhost/educational_institutions
Done.

[]

### Inserting values into table

In [9]:
fileDirectory = os.getenv('PATH_TO_FILES')
fileName = "eighth_grade_exam_szkoly.csv"
pathToFile = f"{fileDirectory}\\{fileName}"
columnsStr = ", ".join(columns)

In [10]:
sql_values_insert = f"""
COPY eighth_grade_exam({columnsStr})
FROM '{pathToFile}'
DELIMITER ';'
CSV HEADER;
"""

%sql $sql_values_insert

 * postgresql://postgres:***@localhost/educational_institutions
48719 rows affected.

[]

### Removing -1 values

Same thing like in matura exam.

In [11]:
conn = psycopg2.connect(
    dbname=database,
    user=user,
    password=password,
    host=host,
    port="5432"
)
cur = conn.cursor()

columnsForReplacing = []
for col in columns:
    if "liczba_zdajacych" in col:
        columnsForReplacing.append(col)

for col in columnsForReplacing:
    sql_query = f"UPDATE eighth_grade_exam SET {col} = NULL WHERE {col} = -1;"
    cur.execute(sql_query)
    conn.commit()

cur.close()
conn.close()